<h1>Demo: Simple Lists</h1>

<div class="alert alert-success">
    <strong>Instructions:</strong>
    Drag &amp; drop movie to rearange it in Favorites. Click on a movie title to see details about it. 
    Click on a home button to move a movie from Favorites to Others and on a star button for vice versa.
</div>

<div class="simpleDemo row" ng-controller="ToggleController">

        <div class="col-md-4">
            <div ng-repeat="(listName, list) in models.lists track by $index" >
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List {{listName}}</h3>
                    </div>
                    <div ng-if="$index == 0" class="panel-body" ng-include="'simple.html'"></div>
                    <div ng-if="$index == 1" class="panel-body" ng-include="'others.html'"></div>
                </div>
            </div>
        </div>

    <div class="col-md-4" ng-if="showInfo">
        {{models.selected.info}}
    </div>

</div>
