<div style="padding-left: 20px; padding-right: 20px;">
	<div class="container">
		<h1>New Event</h1>
		<hr/>
		<form name="newEventForm">
			<fieldset>
				<label for="eventName">Event Name:</label>
				<input ng-model="event.name" type="text" id="eventName" placeholder="Name of your event..." required/>
				<label for="eventDate">Event Date:</label>
				<!-- ng-pattern validates field according to the regex inside it-->
				<input ng-model="event.date" type="text" id="eventDate" placeholder="format (mm/dd/yyyy)" required ng-pattern="/\d\d/\d\d/\d\d\d\d/"/>
				<label for="eventTime">Event Time:</label>
				<input ng-model="event.time" type="text" id="eventTime" placeholder="Start and end time..."/>
				<label for="eventLocation">Event Location:</label>
				<input ng-model="event.location.address" type="text" id="eventLocation" placeholder="Address of event..."/>
				<br/>
				<input ng-model="event.location.city" id="eventCity" type="text" class="input-small" placeholder="City..."/>
				<input ng-model="event.location.state" id="eventState" type="text" class="input-small" placeholder="State..."/>

				<label for="eventImageUrl">Image:</label>
				<input ng-model="event.imageUrl" id="eventImageUrl" type="url" class="input-xlarge" placeholder="Url of image..."/>
			</fieldset>

			<img ng-src="{{event.imageUrl}}" src=""/>
			<br/>
			<br/>

			<button ng-click="saveEvent(event, newEventForm)" type="submit" class="btn btn-primary" ng-disabled="newEventForm.$invalid">Save</button>
			<button ng-click="cancelEdit()" type="button" class="btn btn-default">Cancel</button>
		</form>
	</div>
</div>