<div class="row right-pane">
	<h2 class="sub-header">{{MainCtrl.day.name}} Purchases</h2>
	<span class="add-purchase"><button class="btn btn-primary" ui-sref="home.add({id: MainCtrl.day._id})">Add Purchase</button></span>
	
	    
	    
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
		    	<tr>
		          <th>Purchase Name</th>
		          <th>Store Name</th>
		          <th>Description</th>
		          <th>Price</th>
		          <th></th>
		    	</tr>
		  	</thead>
			<tbody>
		        <tr ng-repeat="purchase in MainCtrl.day.purchases">
	            <td ui-sref="home.edit({index: $index})">{{ purchase.purchase }}</td>
	            <td ui-sref="home.edit({index: $index})">{{ purchase.store }}</td>
	            <td ui-sref="home.edit({index: $index})">{{ purchase.description }}</td>
	            <td ui-sref="home.edit({index: $index})">{{ purchase.price | currency}}</td>
		          <td>
		          	<button type="button" class="btn btn-default" style="margin-right: 10px;" ui-sref="home.edit({index: $index})">
		          		<span class="glyphicon glyphicon-pencil"></span>
		          	</button>
		          	
		          	<button type="button" class="btn btn-default" ng-click="MainCtrl.deletePurchase($index)"><span class="glyphicon glyphicon-remove"></span></button>
		          </td>
		        </tr>
			</tbody>
		</table>
		</div>
</div>