<div class="row right-pane">
	<h2 class="sub-header">{{curDayStr}} Purchases</h2>
	<span class="add-purchase"><button class="btn btn-primary" data-toggle="modal" data-target="#addPurchase">Add Purchase</button></span>
	
	    
	    
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
		    	<tr>
		          <th>Purchase Name</th>
		          <th>Store Name</th>
		          <th>Description</th>
		          <th>Price</th>
		          <th></th>
		    	</tr>
		  	</thead>
			<tbody>
		        <tr ng-repeat="record in db[currentDay] track by $index">
		          <td>{{record.purchase}}</td>
		          <td>{{record.store}}</td>
		          <td>{{record.description}}</td>
		          <td>{{record.price}}</td>
		          <td>
		          	<button type="button" class="btn btn-default" style="margin-right: 10px;" data-toggle="modal" data-target="#editPurchase">
		          		<span class="glyphicon glyphicon-pencil"></span>
		          	</button>
		          	
		          	<button type="button" class="btn btn-default" ng-click="deletePurchase($index)"><span class="glyphicon glyphicon-remove"></span></button>
		          </td>
		        </tr>
			</tbody>
		</table>
		</div>
</div>