<div class="row right-pane">
	<h2 class="sub-header">{{curDayStr}} Purchases</h2>
	<span class="add-purchase"><button class="btn btn-primary" data-toggle="modal" data-target="#addPurchase">Add Purchase</button></span>
	<!-- Modal -->
	   <div class="modal fade" id="addPurchase" role="dialog">
	    <div class="modal-dialog modal-lg">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Add Purchase</h4>
	        </div>
	        <div class="modal-body">
	        	<div class="row" style="padding-left: 10px;">
	        		    <div style="float:left;margin-right:20px;">
					        <label for="purchase-name">Purchase Name</label>
					        <input id="purchase-name" type="text" value="" name="purchase-name" ng-model="purchaseObj.purchase">
					    </div>
					    <div style="float:left;">
					        <label for="store-name">Store Name</label>
					        <input id="store-name" type="text" value="" name="store-name" ng-model="purchaseObj.store">
					    </div>
					    <div style="float:left;">
					        <label for="price">Price</label>
					        <input id="price" type="number" value="5" min="5" name="price" ng-model="purchaseObj.price">
					    </div>
	        	</div>
			    <div style="float:left;margin-right:20px;">
			        <label for="description">Description</label>
			        <input id="description" type="text" value="" name="description" ng-model="purchaseObj.description">
			    </div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addPurchase()">Add</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	<!-- End Modal -->
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
		    	<tr>
		          <th>Purchase Name</th>
		          <th>Store Name</th>
		          <th>Description</th>
		          <th>Price</th>
		          <th></th>
		    	</tr>
		  	</thead>
			<tbody>
		        <tr ng-repeat="record in db[currentDay] track by $index">
		          <td>{{record.purchase}}</td>
		          <td>{{record.store}}</td>
		          <td>{{record.description}}</td>
		          <td>{{record.price}}</td>
		          <td>
		          	<button type="button" class="btn btn-default" style="margin-right: 10px;" data-toggle="modal" data-target="#editPurchase">
		          		<span class="glyphicon glyphicon-pencil"></span>
		          	</button>
		          	 <!-- Modal -->
					   <div class="modal fade" id="editPurchase" role="dialog">
					    <div class="modal-dialog modal-lg">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Add Purchase</h4>
					        </div>
					        <div class="modal-body">
					        	<div class="row" style="padding-left: 10px;">
					        		    <div style="float:left;margin-right:20px;">
									        <label for="purchase-name">Purchase Name</label>
									        <input id="purchase-name" type="text" value="" name="purchase-name" ng-model="purchaseObj.purchase">
									    </div>
									    <div style="float:left;">
									        <label for="store-name">Store Name</label>
									        <input id="store-name" type="text" value="" name="store-name" ng-model="purchaseObj.store">
									    </div>
									    <div style="float:left;">
									        <label for="price">Price</label>
									        <input id="price" type="number" value="5" min="5" name="price" ng-model="purchaseObj.price">
									    </div>
					        	</div>
			        		    <div style="float:left;margin-right:20px;">
							        <label for="description">Description</label>
							        <input id="description" type="text" value="" name="description" ng-model="purchaseObj.description">
							    </div>
					        </div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPurchase($index)">Edit</button>
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					    </div>
					  </div>
				 	 <!-- End Modal -->
		          	<button type="button" class="btn btn-default" ng-click="deletePurchase($index)"><span class="glyphicon glyphicon-remove"></span></button>
		          </td>
		        </tr>
			</tbody>
		</table>
		</div>
</div>